@use "../../styles/variables" as *;

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__hidden {
    display: none;
    &--to-small {
      @media (min-width: 600px) {
        display: flex;
      }
    }
    &--to-medium {
      @media (min-width: 800px) {
        display: flex;
      }
    }
    &--to-large {
      @media (min-width: 1024px) {
        display: flex;
      }
    }
    &--to-xlarge {
      @media (min-width: 1288px) {
        display: flex;
      }
    }

    &--from-small {
      @media (max-width: 599px) {
        display: flex;
      }
    }
    &--from-medium {
      @media (max-width: 799px) {
        display: flex;
      }
    }
    &--from-large {
      @media (max-width: 1023px) {
        display: flex;
      }
    }
    &--from-xlarge {
      @media (max-width: 1287px) {
        display: flex;
      }
    }
  }
}
