@use '../../styles/variables' as *;

.grid {
  width: auto;
  padding: $paddingXSmall;
  background-color: $gray;
  @media (min-width: 600px) {
    padding: $paddingSmall;
  }
  @media (min-width: 800px) {
    padding: $paddingMedium;
  }
  @media (min-width: 1024px) {
    padding: $paddingLarge;
  }
  @media (min-width: 1288px) {
    padding: $paddingLarge;
  }
}
