$paddingXSmall: 8px;
$paddingSmall: 12px;
$paddingMedium: 14px;
$paddingLarge: 18px;

$gutterSmall: 8px;
$gutterMedium: 12px;

$primaryColor: #014253;
$secondaryColor: #20a994;
$white: #ffffff;
$gray: #f6f8f7;
