$paddingXSmall: 8px;
$paddingSmall: 12px;
$paddingMedium: 14px;
$paddingLarge: 18px;

$gutterSmall: 8px;
$gutterMedium: 12px;

$primaryColor: #014253;
$secondaryColor: #20A994;
$white: #FFFFFF;
$gray: #F6F8F7;

