@use '../../styles/variables' as *;

.card {
  &__image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  &-content {
    padding: 12px;
  }
  &__title {
    color: $primaryColor;
  }
  &__description {
    color: $primaryColor;
    margin-bottom: 24px;
  }
  &__price-description {
    color: $primaryColor;
    margin-bottom: 6px;
  }
  &__price {
    font-size: 24px;
    margin-bottom: 18px;
  }
  &__button {
    font-weight: bold;
    cursor: pointer;
    color: $secondaryColor;
    border: none;
    background: transparent;
  }
  &--with-background {
    background-color: $white;
  }
}
